*{
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	font-family:'Agency FB Bold';
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: rgb(169, 169, 0) rgba(255, 255, 255, 0);
	-webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none; 

}

 @font-face {
    font-family: 'Agency FB Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Agency FB Bold'), url('fonts/AGENCYB.woff') format('woff');
}
@font-face {
    font-family: 'Ryzes Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Ryzes Regular'), url('fonts/Ryzes-ax92x.woff') format('woff');
}
@font-face {
    font-family: 'RubikGlitch';
    font-style: normal;
    font-weight: normal;
    src: local('RubikGlitch'), url('fonts/RubikGlitch-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Dystopian';
    font-style: normal;
    font-weight: normal;
    src: local('Dystopian'), url('fonts/Dystopian.otf') format('opentype');
}
@font-face {
    font-family: 'GlitchDemo';
    font-style: normal;
    font-weight: normal;
    src: local('GlitchDemo'), url('fonts/GlitchDemo.ttf') format('truetype');
}
@font-face {
    font-family: 'Glitch';
    font-style: normal;
    font-weight: normal;
    src: local('Glitch'), url('fonts/GlitchRobot.ttf') format('truetype');
}

main{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr; 
	height: 100vh;
	gap: 5px;

}

#menu-icon{
	display: block;
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.253);
	backdrop-filter: blur(1px);
	border-radius: 5px;
	width: 35px;
}

	
header{
	justify-content:space-around;
	position: absolute;
	padding: 18px 0;
	z-index: 10;
	right: 0;
}
	
.navbar{
	position: fixed;
	top: 0;
	right: -100%;
	width: 200px;
	height: 70vh;
	background: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s all;
	margin-top: 0;
	box-shadow: 0px 0px 10px rgb(225, 0, 255);
	border-radius: 5px;
	/* border-bottom-left-radius: 150px; */
}
.navbar a{
	color: rgb(183, 4, 207);
	display: block;
	background: none;
	margin: 0;
}
.open{
	right: 0;
}

.relative{
	position: relative;
}


#hand {
    height: 26vh;
    overflow-y: visible;
    overflow-x: visible;
    transition: height 0.3s ease; /* smooth height transition */
}

#hand.expanded {
    height: 80vh;
    overflow-y: scroll; /* allow scrolling when expanded */
}

#op_hand > *{
	position: absolute;
	box-shadow: 0 0 10px rgb(0, 0, 0);
	cursor: not-allowed;
}

